/* Configuraciones generales del html */
* {
  margin: 0; /* margenes*/
  padding: 0; /* rellenos*/
  box-sizing: border-box; /* encajar elementos */
}
body {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
}
/* Fin de las configuraciones generales */

/* Estilos para el formulario */

.aplicacion_login {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../img/fondo_login.jpg");
  background-position: center;
  background-size: cover;
}
.content_login {
  padding: 40px 15px;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content_login img {
  width: 210px;
  height: 210px;
  object-fit: cover;
}
.title_login {
  font-size: 40px;
  font-weight: 600;
  color: #5708e0;
  text-align: center;
}
.formulario_login {
  width: 420px;
  padding: 12px 24px;
}
.formulario_login .componente_input {
  width: 100%;
  margin-bottom: 20px;
}
.formulario_login .componente_input h1 {
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: 500;
}
.formulario_login .componente_input .input_content {
  width: 100%;
  height: 40px;
  background: #ececec;
  display: flex; /* sirve para colocar hijos en una sola linea */
  align-items: center;
  padding: 12px 24px;
  border-radius: 20px;
}
.formulario_login .componente_input .input_content i {
  margin-right: 10px;
}
.formulario_login .componente_input .input_content input {
  width: 100%;
  height: 100%;
  background: transparent;
  border-style: none;
}
.formulario_login .componente_input .input_content input:focus {
  outline: none;
}
.formulario_login button {
  width: 100%;
  padding: 15px 10px;
  background: #5708e0;
  color: #fff;
  border-style: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 15px;
  margin-top: 20px;
}

/* Fin de los estilos para el formulario*/
